<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Distribuidos - Proyecto</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <!--
    <div class="chat"></div>
    
    <form class="message-box">
        <input type="text" id="chat-message">
        <input type="submit" value="Enviar >">
    </form>
    -->
    <!--wrapper-->
    <div class="chat-content">
        <section class="form signup">
            <header>Proyecto Distribuidos Chat</header>
            <form action="#">
                <div class="error-txt">Este es un mensaje de error!"</div>
                <div class="datos-de-usuario">
                    <!--Nombres-->
                    <div class="field input">
                        <label for="">First Name</label>
                        <input type="text" placeholder="First Name">
                    </div>

                    <!--Apellidos-->
                    <div class="field input">
                        <label for="">First Name</label>
                        <input type="text" placeholder="First Name">
                    </div>
                </div>

                <!--email-->
                <div class="field input">
                    <label for="">Email</label>
                    <input type="text" placeholder="Enter Your email">
                </div>
                
                <!--password-->
                <div class="field input">
                    <label for="">Password</label>
                    <input type="text" placeholder="Enter Your new password">
                </div>

                <!--Foto de perfil-->
                <div class="field image">
                    <label for="">Select image</label>
                    <input type="file">
                </div>

                <div class="field button">
                    <input type="text" value="Continue to chat">
                </div>
            </form>
            <div class="link">Already signed up? <a href="">Login Now</a></div>
        </section>
    </div>


</body>
</html>